@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #282739;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

ul {
    justify-content: space-between;
    height: 100%;
    width: 65%;
}

.hidden {
    display: none;
}

/* hiding the scrollbar  */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

li {
    justify-content: center;
    color: white;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.decorations {
    position: absolute;
    z-index: -1;
}

.content {
    z-index: 1;
    position: absolute;
}


/* navbar */

.nav {
    position: absolute;
    z-index: 1;
    padding: 2vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 126%;
    color: #282739;
}

.logo-tagline {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 126%;
    letter-spacing: 0.085em;
    color: #282739;
}

.main-logo {
    scale: 0.8;
}

.tabs {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

.tabs div {
    font-style: normal;
    font-weight: 600;
    font-size: min(1.5rem, 10vh);
    line-height: 126%;
    color: #FFFFFF;
}

.contact-us {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 126%;
    color: #282738;
    width: 12rem;
    height: 64px;
    display: grid;
    place-items: center;
    background: #CBD8D7;
    border-radius: 54px;
    transition: scale ease-out 0.15s;
}

/* navbar ends */

.main {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.main-logo {
    width: 10rem;
    height: 10rem;
}

.logo::before {
    content: '';
    z-index: -1;
    position: absolute;
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    left: -25rem;
    top: -35rem;
    background: #CBD8D7;
    animation: 4s linear infinite alternate blob1;
}

.main-heading::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    background: #CBD8D7;
    right: -20vw;
    top: 75vh;
    animation: 4s linear infinite alternate blob2;
}

.contact-us:hover {
    scale: 1.1;
}

.tabs-home::before {
    content: '';
    width: 0rem;
    height: 0.2rem;
    margin-top: 2.5rem;
    opacity: 0;
    background: #CBD8D7;
    position: absolute;
    transition: opacity 300ms, width 300ms;
}

.tabs-home:hover::before {
    opacity: 1;
    width: min(4.8rem);
}

.tabs-members::before {
    content: '';
    width: min(10.5vw, 7.7rem);
    height: 0.2rem;
    margin-top: 2.5rem;
    opacity: 1;
    background: #CBD8D7;
    position: absolute;
    transition: opacity 300ms, transform 300ms;
}


.tabs-gallery::before {
    content: '';
    width: 0;
    height: 0.2rem;
    margin-top: 2.5rem;
    opacity: 0;
    left: 62.8vw;
    background: #CBD8D7;
    position: absolute;
    transition: opacity 300ms, width 300ms;
}

.tabs-gallery:hover::before {
    opacity: 1;
    width: 6rem;
}


/*animations probably baaje*/
@keyframes blob1 {
    0% {
        left: -25rem;
        top: -35rem;
    }

    50% {
        left: -25rem;
        top: -30rem;
    }

    100% {
        left: -20rem;
        top: -35rem;
    }
}

@keyframes blob2 {
    0% {
        right: -20vw;
        top: 75vh;
    }

    50% {
        right: -25vw;
        top: 75vh;
    }

    100% {
        right: -20vw;
        top: 80vh;
    }
}

/* navbar ends */

.main {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 126%;
    color: #FFFFFF;
    margin-bottom: 3rem;
}


/* swiper.js styles */

.swiper {
    width: 70%;
    height: 50%;
}

#swiper2 {
    width: 70%;
    height: 90%;
    overflow-y: scroll;
}


/* swiper.js styles end */

.main-slide {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-slide-image {
    width: 170px;
    height: 170px;
    background: #CBD8D7;
    display: grid;
    place-items: center;
    border-radius: 120px;
}

.main-slide-image img {
    /* opacity: 0; */
    width: 140px;
    height: 140px;
    border-radius: 50%;
    stroke: 15px #CBD8D7;
}

.main-slide-details {
    text-align: center;
}

.main-slide-name {
    margin-top: 2rem;
    font-weight: 800;
    font-size: 2rem;
    color: #ffffff;
}

.main-slide-post {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #CBD8D7;
    margin-bottom: 4rem;
}

.mobile-view {
    display: none;
}


/* responsive ghapla */
@media (0px <=width <=450px) {
    * {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    body {
        overflow-y: visible;
    }

    .mobile-view {
        background: #CBD8D7;
        width: 100vw;
        height: 100vh;
        padding: 20px;
        z-index: 2;
    }


    .mobile-logo {
        height: fit-content;
        width: fit-content;
    }

    .mobile-logo-name {
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 126%;
        color: #282739;
    }

    .mobile-logo-tagline {
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 126%;
        letter-spacing: 0.04em;
        color: #282739;
    }

    .desktop-tablet-view {
        display: none;
    }

    .mobile-view {
        display: block;
        position: absolute;
    }

    .mobile-nav {
        justify-content: space-between;
    }

    .mobile-content {
        flex-direction: column;
    }

    .hamburgers {
        cursor: pointer;
        --gap: 0.5rem;
        flex-direction: column;
        justify-content: left;
        align-items: flex-end;
        width: fit-content;
    }

    .mobile-nav-tabs {
        width: 0;
        height: 0;
        z-index: 2;
        position: absolute;
        transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
    }

    .mobile-nav-tab {
        display: none;
        cursor: pointer;
        width: calc(100% );
        text-align: center;
        padding: min(2rem, 3vh);
        border-radius: 10vh;
        background-color: rgba(40, 39, 56, 0.95);
        transition: all 0.25s ease-in-out;
    }

    .mobile-nav-link-container {
        display: none;
        width: 80%;
        margin-right: 5%;
        gap: 10%;
        flex-direction: column;
        padding-bottom: 40%;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
    }


    .mobile-nav-tab {
        font-weight: 600;
        font-size: 1.3em;
        color: #CBD8D7;
        width: 100%;
        transition: all 0.15s ease-in-out;
    }

    .mobile-tabs-home {
        margin-top: 10%;
    }

    .mobile-tabs-members {
        width: calc(100%);
        text-align: center;
        padding: 2.4vh;
        border-radius: 10vh;
        border: 0.3rem solid rgba(40, 39, 56, 0.95);
        background-color: white;    
        color: #282738;
        transition: all 0.25s ease-in-out;
    }

    .mobile-contact-us {
        display: none;
        width: calc(100% - 15vw);
        text-align: center;
        padding: min(2rem, 3vh);
        margin-left: 5vw;
        border-radius: 10vh;
        margin-bottom: 20%;
        border: solid 0.5rem rgba(40, 39, 56);
        background-color: white;
    }

    .mobile-contact-us {
        font-weight: 600;
        font-size: 1.5em;
        color: #282738;
        /* width: 100%; */
    }


    .mobile-nav-cancel {
        display: none;
        width: 35%;
        margin-inline: 23%;
        margin-left: 19%;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
    }



    .mobile-nav-cancel>img {
        cursor: pointer;
        margin-left: -2vh;
        border-radius: 100%;
        padding: 0.5rem;
        text-align: center;
        height: 3.5rem;
        vertical-align: middle;
        line-height: 1em;
        width: 3.5rem;
        font-weight: 600;
        font-size: 1.5em;
        border: solid 0.4rem rgba(40, 39, 56);
        background-color: rgba(203, 216, 215);
        color: #282738;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        height: 8px;
        width: 50px;
        background-color: #282738;
        border-radius: 50px;
    }

    .hamburger-top {
        width: 30px;
    }

    /* navbar matha byatha ends */

    .mobile-body {
        background: #282738;
        border-radius: 50px;
        height: calc(100vh - 120px);
        display: grid;
        place-items: center;
    }

    .mobile-body img {
        width: calc(100vw - 100px);
    }

    .mobile-wrapper {
        gap: 40px;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-heading {
        text-align: center;
        font-weight: 600;
        font-size: 1.7em;
        color: white;
    }

    .mobile-main-slide {
        position: absolute;
        z-index: -1;
    }

    .mobile-main-slide-image {
        display: grid;
        z-index: -2;
        place-items: center;
    }

    .mobile-main-slide-image>img {
        z-index: -2;
    }

    .mobile-main-slide-image img {
        height: 10vh;
        width: 10vh;
        border-radius: 5vh;
    }

    .mobile-main-slide-name {
        font-weight: 800;
        text-align: center;
        color: white;
        margin-top: 15px;
        font-size: 1em;
    }

    .mobile-main-slide-post {
        font-weight: 700;
        text-align: center;
        color: #CBD8D7;
        margin-top: 5px;
        font-size: 0.6em;
    }
}